* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    text-align: center;
}
#p1 {
    color: white;
    text-align: center;
   
}
#p2 {
    color: wheat;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}
#p3 {
    color: wheat;
    text-align: center;
    font-size: 10px;
    margin-top: 350px;
}
body {
    background-color: black;
}

#class {
    background-color: green;
    display: block;
    margin: auto;
    margin-top: 200px;
    border-radius: 3px;
}
a {
    text-decoration: none;
}